In [1]:
import pandas as pd
import numpy as np
data=np.array(['a','b','c','d'])

In [4]:
print(data)

['a' 'b' 'c' 'd']

In [5]:
type(data)

numpy.ndarray

In [7]:
S=pd.Series(data)

In [8]:
print(S)

0    a
1    b
2    c
3    d
dtype: object

In [9]:
type(S)

pandas.core.series.Series

In [11]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [12]:
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
print(s[3])

4

In [14]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [15]:
print(s[3:])

d    4
e    5
dtype: int64

In [16]:
animals=['Tiger','Bear',None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [18]:
np.isnan(np.nan)

True

In [19]:
sports = { 'cricket' : 'india',

          'golf':'scotland',

           'sumo':'japan',

           'taekwondo':'south korea'}

s = pd.Series(sports, index =['golf','sumo','hockey'])

s

golf      scotland
sumo         japan
hockey         NaN
dtype: object

In [21]:
sports = { 'cricket' : 'india',

          'golf':'scotland',

           'sumo':'japan',

           'taekwondo':'south korea',
         'hockey':None}

s = pd.Series(sports, index =['golf','sumo','hockey'])

s

golf      scotland
sumo         japan
hockey        None
dtype: object

In [24]:
print(s.iloc[2])

None

In [26]:
sports={99:'India',100:'Japan',101:'Scotland',102:'South Korea'}

In [29]:
s=pd.Series(sports)

In [30]:
s[101]

'Scotland'

In [32]:
s[102]

'South Korea'

In [36]:
s =  pd.Series([1.00,2.00,1.20,3.00])

s

0    1.0
1    2.0
2    1.2
3    3.0
dtype: float64

In [3]:
import pandas as pd
purchase_1 = pd.Series({'Name' : 'Chuck',

                        'Item Purchased': 'mILk',

                        'cost':22})

purchase_2 = pd.Series({'Name' : 'Noel',

                        'Item Purchased': 'eggs',

                        'cost':12})

purchase_3 = pd.Series({'Name' : 'Niki',

                        'Item Purchased': 'butter',

                        'cost':15})

df = pd.DataFrame([purchase_1,purchase_2,purchase_3],index = ['store 1','store 2','store 3'])

df.head()

          Name Item Purchased  cost
store 1  Chuck           mILk    22
store 2   Noel           eggs    12
store 3   Niki         butter    15